<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Eproc</title>
	<link href="static/bootstrap.css" rel="stylesheet">
	<link href="static/custom.css" rel="stylesheet">
	<script src="static/sweetalert.js"></script>
	<link rel="stylesheet" href="static/fa/css/font-awesome.min.css">
</head>

<body>