	<!-- Sidebar -->
	<div class="sidebar bg-secondary" id="sidebar">
		<div class="sidebar-nav">
			<ul class="list-unstyled components my-5">
				<li class="sidebar-nav-item"><a href="#">Dashboard</a></li>
				<li class="sidebar-nav-item"><a href="#">Charts</a></li>
				<li class="sidebar-nav-item"><a href="#">Tables</a></li>
			</ul>
			<i class="fa fa-solid fa-caret-square-o-left fa-3x fa-fw text-white mx-auto ms-5" onclick="minimize()"></i>
		</div>
	</div>